.p1{
    background-color: rgb(122, 158, 72);
    font-size: 50;
    font-weight: bold;
    font-style: italic;
    color: white;
    text-decoration: black;
    text-align: center;
}
body{
    background-color: #10085b;
    padding: 2px 2px 2px 2px;
}